.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .otp-container{
        display: flex;
        justify-content: center;
        gap: 12px;
        padding: 2rem;
        input{
            height: 60px;
            width: 5%;
            font-size: 2rem;
            text-align: center;
            border-radius: 8px;
        }
    }
}