.chess_row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess_col{
    border: 1px solid;
    height: 30px;
    width: 30px;
    padding: 20px;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}